

.paginationDisabled{
    height: 30px;
    width: 150px;
    /* background-color: red; */
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .PaginationActive a:hover{
    background-color: rgb(0, 65, 77);
    transition: .4s;
    color: white;
    font-size: 10px;
  
  }
  .paginationBtns {
    margin: 30px;
    display: flex;
    gap: 20px;
    list-style: none;
  }
  .paginationBtns a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid gray;
    text-decoration: none;
    /* color: black; */
  
  }
  .paginationBtns a:hover{
    background-color: rgb(10, 134, 156);
    transition: .4s;
    color: white;
    font-size: 20px;
  }
  #page{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin-top: 20px;
  }